name: Wave2PS2/WP2 (July 12th prototype)
sha1: 5161d263253776c7d7d13a1b8dd8e1a03b2d1aac
options:
    # paths
    basename: WAVE2PS2.IRX
    target_path: iso/WAVE2PS2.IRX.rom
    base_path: ..

    asm_path: asm/iop_mdl/wp2cd
    src_path: src/iop_mdl/wp2cd
    asset_path: assets/iop_mdl/wp2cd
    build_path: build

    extensions_path: tools/splat_ext
    symbol_addrs_path: config/irx.wave2ps2.jul12.symbol_addrs.txt
    reloc_addrs_path: config/irx.wave2ps2.jul12.reloc_addrs.txt
    undefined_funcs_auto_path: config/irx.wave2ps2.jul12.undefined_funcs_auto.txt
    undefined_syms_auto_path: config/irx.wave2ps2.jul12.undefined_syms_auto.txt

    # compiler

    #
    # splat/spim doesn't officially
    # support IRX modules, thus
    # treating it as a PS1 binary
    # is the closest we can get.
    #
    compiler: PSYQ
    platform: psx

    named_regs_for_c_funcs: False
    make_full_disasm_for_code: False

    section_order: [".text", ".rodata", ".data", ".sbss", ".bss"]
segments:
    - name: main
      type: code
      start: 0x0
      vram: 0x0 # Yes, it really starts at 0x0. Why?
      bss_size: 0x801c8
      subsegments:
        # .text
        - [0x0, c, iop/bgm_entr]
        - [0xF0, c, iop/bgm_com]
        - [0x670, c, iop/bgm_play]

        - [0x3720, asm, sdk/ilb_stub]

        # .rodata
        - [0x39D0, .rodata, iop/bgm_entr]
        - [0x3A20, .rodata, iop/bgm_com]
        - [0x3A50, .rodata, iop/bgm_play]

        # .data
        - [0x3A90, .data, iop/bgm_entr]
        - [0x3AA0, .data, iop/bgm_com]
        - [0x3AB0, .data, iop/bgm_play]

        - { type: bss,   vram: 0x00003b00, name: iop/bgm_play }

        - { type: bss,   vram: 0x00003b20, name: iop/bgm_play }
        - { type: .bss,  vram: 0x00003c30, name: iop/bgm_com  }
        - { type: bss,   vram: 0x00003c70, name: iop/bgm_play }

    - [0x3B00]
